body {
  font-family: sans-serif;
  display: flex;
  height: 90vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
}

#rootDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

#inputContainer {
  padding-bottom: 4px;
}

#nameInput {
  border: 1px solid #848484;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  outline:0;
  height:25px;
  width: 12vw;
  padding-left:10px;
  padding-right:10px;
}

#valueInput {
  border: 1px solid #848484;
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  outline:0;
  height:25px;
  width: 45vw;
  padding-left:10px;
  padding-right:10px;
}

#submitButton {
  border: 1px solid #848484;
  background-color:#1b1b1b;
  color: white;
  width: 11vw;
  height: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: small;
}

#form {
  padding-bottom: 2vw;
}

.msgContainer {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #848484;
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  outline:0;
  width: 50vw;
  margin-bottom: 2px;
}

.name {
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 10vw;
  font-size: small;
  font-weight: bold;
}

.value {
  margin: 0px;
  padding-left: 10px;
  border-left: 1px solid #848484;
  border-width: 1px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: small;
}

#kuva {
  height: 30vw;
}